<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.golfmarin.golfmarinapp"
    android:versionCode="2"
    android:versionName="1.1" >
    
    <permission
          android:name="com.golfmarin.golfmarinapp.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
    <uses-permission android:name="com.golfmarin.golfmarinapp.permission.MAPS_RECEIVE"/>      
    <uses-permission android:name="android.permission.INTERNET"/>

	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<uses-permission android:name="android.permission.CALL_PHONE"/>
	
	<uses-feature
  		android:glEsVersion="0x00020000"
  		android:required="true"/>
	<uses-feature 
	    android:name="android.hardware.telephony"
	    android:required="false"/>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application      
        android:allowBackup="true"
        android:icon="@drawable/golf_marin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name="com.golfmarin.golfmarinapp.CountyListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.golfmarin.golfmarinapp.CourseListActivity"
            android:label="@string/title_course_list"
            android:parentActivityName=".CountyListActivity"
            >           
        </activity>
        <activity
            android:name="com.golfmarin.golfmarinapp.CountyDetailActivity"
            android:label="@string/title_county_detail"
            android:parentActivityName=".CountyListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CountyListActivity" />
        </activity>
        <activity
            android:name="com.golfmarin.golfmarinapp.CourseDetailActivity"
            android:label="@string/title_course_detail"
            android:parentActivityName=".CourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseListActivity" />
        </activity>
        

        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyCyA7q2KafySrUAa_3QSEdvmoVhlvhjRc4"/>
        
        
    </application>
    


</manifest>